#clase1
{
    text-align: left;
}

#clase2
{
    text-align: center;
}

#clase3
{
    text-align: right;
}

#clase4
{
    text-align: left;
}

#clase5
{
    text-align: center;
}

#clase6
{
    text-align: right;
}

#clase7
{
    text-align: left;
}

#clase8
{
    text-align: center;
}

#clase9
{
    text-align: right;
}

#clase10
{
    text-align: left;
}