label, input, select, p, a, table, th, tr, td, span
{
    font-size: 1.3rem;
}

table /* Personalizo la tabla con borde rojo y tamaño de la fuente también a 1.3 rem, con width 120% para que todas las columnas tengan espacio al final. */
{
    border-collapse: unset; /* Esta linea rompe el control del estilo de Bootstrap. */
    border: 1px solid red;
    width: 110%;
}

tr, th, td /* A los títulos, filas y columnas de la tabla les doy borde de color azul y el tamaño de la fuente a 1.3 rem. */
{
    border: 1px solid blue;
}

.column
{
	float: left;
	padding: 10px;
}

.total
{
    width:fit-content;
    background-color:#ffe;
    color:black;
    margin-left:45.5%;
    font-size: 1.3rem;
}

.left
{
	width: 20%;
}

.middle, .right, .moreright
{
	width: 6%;
    text-align: right;
}

.total
{
	width: 18%;
}

.row::after
{
	content: "";
	display: table;
	clear: both;
}

.mysize /* Esta clase es de las imágenes del script show.php que muestra los eventos variados en la página index.php y en la página login.php cuando un especatdor está logueado. */
{
    padding: 20px;
    width: 360px;
    height: 280px;
}

.bigsize
{
    padding: 0px;
    width: 360px;
    height: 280px;
}

.productimg
{
    padding: 10px;
    width: 640px;
    height: 400px;
}

.leftunits
{
    margin-left: 84px;
    position: relative;
    margin-top: -140px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    font-size: 8px;
    color: #fff;
    text-align: center;
    background: red !important;
}